html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  padding-right: 10px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.nav {
  margin-right: 10px;
}

.nav-link {
  color: seashell;
  text-decoration: underline;
  margin: 0px 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.sec-one {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}

.mission {
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: black;
}

.sec-two {
  width: 1000px;
  margin: 50px auto;
}

.tea-selections {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}

.teas img{
  width: 300px;
  height: 200px;
  margin: 0px 10px;
}

.sec-three {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: auto;
  justify-content: center;
  padding: 20px 0px;
}

.address-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locations {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0px 20px;
  align-items: center;
  opacity: 1;
}

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
  margin: 20px;
}
